img.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
img.user_thumbnail {
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
}
img.shikhi-logo {
    width: 8rem !important;
    height: auto;
}
